

/* Bannière */
.banner {
    background-color: #FFD700;
    color: white;
    text-align: center;
    padding: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Barre de navigation */
.navbar {

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFD700;
  }
  
  li {
	float: left;
    font-size: 1.3rem;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: white;
    color: #FFD700;
  }

  .active {
	background-color: white;
    color: #FFD700;
  }

}

html, body { /* Garantit que la page occupe tout l'écran */
    height: 100%;
    margin: 0;
}

/*Pied de page*/
footer {
    background-color: #FFD700;
    color: white;
    text-align: center;
    padding: 0.2rem;  /*Hauteur du Bandeau*/ 
    margin-top: 3rem; /*Espacement*/
	font-size: 1.5rem;
    font-weight: bold;
}


.texte-main p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.texte-main h1,h2,h3 {
    color: #FFD700;
    font-size: 2rem;
}

.texte-main a {
    color: #FFD700;
}

.texte-main li {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: left;
}


/* ACCUEIL */


.welcome {
    text-align: center;
    margin: 2rem auto;
}

.welcome img {
    width: 250px;
    height: auto;
    margin-bottom: 1rem;
}

.welcome p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}


.sections-accueil {
    text-align: center;
    margin: 3rem auto;
}

.sections-accueil h2 {
    font-size: 2rem;
    color: #FFD700;
    margin-bottom: 2rem;
}

.sections-accueil-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.sections-accueil-box {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.sections-accueil-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.sections-accueil-box img {
    width: 300px;
    height: auto;
    margin-bottom: 1rem;
}

.sections-accueil-box h3 {
    font-size: 1.5rem;
    color: #FFD700;
    margin-bottom: 0.5rem;
}

.sections-accueil-box p {
    font-size: 1.1rem;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

.sections-accueil-box a {
    text-decoration: none; /*Supprime le soulignement par défaut des liens.*/
    color: inherit; /*Utilise la même couleur que le texte environnant.*/
    display: block; /* Permet au lien de couvrir tout le contenu de la boîte.*/
}


/* Mise en forme des pages */


.forme-page {
    text-align: center;
    margin: 2rem auto;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.forme-page img {
    width: 500px;
    height: auto;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.forme-page p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: bold;

}

.forme-page ul {
    list-style-type: none; /* Fait disparaître les points des listes*/
}





.forme-page-2 {
    margin: 2rem auto;
    max-width: 800px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}




.forme-table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    font-size: 1.1rem;
}

.forme-table td {
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    align-items: center;
}

.forme-table td a {
    color: #FFD700;
}

.forme-table td.logoSaintDenis {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.forme-table td.logoSaintDenis img {
    width: 100px;
    height: auto;
}

.forme-table td.logoLinkedIn img {
    width: 110px;
    height: auto;
}


.forme-table td:first-child {
    font-weight: bold;
    color: #FFD700;
    width: 30%;
}

.forme-table td:last-child {
    color: #333;
}








.texte-box p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.texte-box h1,h2,h3 {
    color: #FFD700;
}

.texte-box a {
    color: #FFD700;
}

.texte-box li {
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: left;
}

.texte-box span {
    font-weight: bold;
}

.box {
    width: 100%;
    max-width: 800px; /*Limite la largeur our les écrans larges.*/
    margin: 2rem auto; /*Ajoute un espace extérieur de en haut et en bas, et centre horizontalement.*/
    padding: 1.5rem; /*Ajoute un espace intérieur sur tous les côtés.*/
    border-radius: 10px; /*Arrondit les coins*/
    background: linear-gradient(180deg, #fffde7, #fff9c4); /*Ajoute un dégradé d'un jaune clair vers un jaune plus foncé.*/
    border: 1px solid #e0c200;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.box ul {
    list-style-type: none; /*Supprime les puces par défaut de la liste.*/
    padding: 0; /*Retire le padding intérieur par défaut de la liste.*/
    margin: 0; /*Retire la marge par défaut de la liste.*/
}

.box ul li {
    margin-bottom: 0.5rem; /*Ajoute un espace entre chaque élément de la liste.*/
    padding-left: 1.5rem;
    font-size: 1rem;
    line-height: 1.5; /*Augmente l’espacement vertical entre les lignes.*/
}

.box img {
    width: 600px;
    height: auto;
    margin-top: 1.5rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}


.box-sommaire {
    width: 100%;
    max-width: 800px; /*Limite la largeur our les écrans larges.*/
    margin: 2rem auto; /*Ajoute un espace extérieur de en haut et en bas, et centre horizontalement.*/
    padding: 1.5rem; /*Ajoute un espace intérieur sur tous les côtés.*/
    border-radius: 10px; /*Arrondit les coins*/
    background: linear-gradient(180deg, #fffde7, #fff9c4); /*Ajoute un dégradé d'un jaune clair vers un jaune plus foncé.*/
    border: 1px solid #e0c200;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.box-sommaire ul {
    list-style-type: none; /*Supprime les puces par défaut de la liste.*/
    padding: 0; /*Retire le padding intérieur par défaut de la liste.*/
    margin: 0; /*Retire la marge par défaut de la liste.*/
}

.box-sommaire ul li {
    margin-bottom: 0.5rem; /*Ajoute un espace entre chaque élément de la liste.*/
    font-size: 1.5rem;
    text-align: center;
}




/* STYLES POUR LES CARTES RETOURNÉES*/


.box-carte-retourne {
    perspective: 1000px;
    display: inline-block;
    margin: 10px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .box-carte-retourne:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

  .carte-retourne {
    width: 300px;
    height: 400px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
  }

  .carte-retourne.inverse {
    transform: rotateY(180deg);
  }

  .carte-retourne img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .carte-retourne .arriere {
    transform: rotateY(180deg);
  }